              body {
  margin: 0;
  font-family: Arial;
  background: #0a0f1c;
  color: white;
}

.sidebar {
  width: 220px;
  height: 100vh;
  background: #0f172a;
  position: fixed;
  padding: 20px;
}

.sidebar h2 {
  color: #38bdf8;
}

.menu {
  margin-top: 20px;
  cursor: pointer;
  opacity: 0.8;
}

.menu:hover {
  opacity: 1;
}

.main {
  margin-left: 240px;
  padding: 30px;
}

.cards {
  display: flex;
  gap: 20px;
}

.card {
  background: #111827;
  padding: 20px;
  border-radius: 12px;
  flex: 1;
}

.big {
  margin-top: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  background: #38bdf8;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #0ea5e9;
}

img {
  margin-top: 15px;
  width: 180px;
}